
<head>
    <!-- ... other head elements ... -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>


<!-- <form method="get" action="{% url 'search' %}">
    <input type="text" name="q" value="{{ query }}" placeholder="Search places...">
    <button type="submit">Search</button>
</form> -->

<form method="get" action="{% url 'search' %}">
    <input type="text" id="searchInput" name="q" value="{{ query }}" placeholder="Search places...">
    <ul id="autocomplete-results"></ul>
    <button type="submit">Search</button>
</form>



<ul>
{% for place in places %}
    <li>{{ place.state.country.name }} > {{ place.state.name }} > {{ place.name }}</li>
{% endfor %}
</ul>

</body>
<script>
    $(document).ready(function() {
        $('#searchInput').on('keyup', function() {
            let query = $(this).val();
            if (query.length >= 2) {  // Only search if at least 2 characters
                $.get('/autocomplete/', {q: query}, function(data) {
                    // Display data
                    let suggestions = data.map(item => `<li>${item}</li>`);
                    $('#autocomplete-results').html(suggestions.join(''));
                });
            } else {
                $('#autocomplete-results').empty();
            }
        });
    });
</script>

